#name {
  font-size: 3em;
  text-align: center;
}

#contact {
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  border-bottom: 2px solid;
}

img {
  border-radius: 50%;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  position: absolute;
  left: 5%;
}

#me {
  margin-right: 75%
}

  
