#body {
  background-color: #CDCDCD;
  color: black;
}

#name {
  font-size: 3em;
  text-align: center;
}

#contact {
  font-size: 2em;
  text-align: center;
  border-bottom: 2px solid;
  
}

img {
  border-radius: 50%;
  display: block;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  position: absolute;
  left: 3%;
  
}

#demo {
  font-size: 20;
  display: block;
  width: 600px;
}

#but {
    padding: 27px 42px;
    font-size: 27px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    border: inset;
}
