#body {
  background-color: #EEFBFB;
  color: black;
}

#name {
  font-size: 4em;
  text-align: center;
}

#contact {
  font-size: 3em;
  text-align: center;
  border-bottom: 2px solid;
  
}

img {
  border-radius: 50%;
  display: block;
  width: 265px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  position: absolute;
  left: 3%;
  
}

#me {
  font-size: 35;
  display: block;
  width: 750px;
  

  
}

#but {
    padding: 32px 42px;
    font-size: 40px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    border: inset;
    font-weight: bold;
}
